#p2{
	padding-bottom: 50px;
}
 
.row img:hover{
	width: 80%;

}
.row h5{
	color: #fff;
}
#ideia{
padding-top: 40px;
}
.container{
	border: 1px solid #fff;
	background-color: #fff;
	
}
footer{
	padding-top:20px;
}
a:link 
{ 
text-decoration:none; 
}
